* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
        }
        body {
        background: #5384b1;
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
        font-family: sans-serif;
        }
        h1 {
        display: flex;
        color: #ecf0f1;
       justify-content: center;
       align-items: center;
       font-weight: bold;
       font-size: 1.8rem;
        width: 100%;
       height: 2.5em;
       text-transform: uppercase;
       text-shadow: 0 0 6px rgba(0,0,0,0.2);}
        input {
       background: #bdc3c7;
       border: none;
       width: 80%;
       border-radius: 5px;
       font-size: 1.5rem;
       position: relative;
       color: rgb(5, 45, 73);
       left: 50%;
       transform: translateX(-50%);
       box-shadow: 0 0 5px rgba(0,0,0,0.2);
       padding: 1rem;
       transition: all 0.4s cubic-
   bezier (.33,0,2,1), transform 0.3s ease-in-out;
    text-align:center;
    }
    input:focus {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transform: translateX(-50%) scale(1.03);
    background: #ecf0f1;
    outline: none;
   }
     ::placeholder {
    font-size:1.4rem;
   }
   div {
   display: grid;
   grid-template-rows: 150px 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    height: 20em;
    margin-bottom: 17em;
    }
    div span {
    display: grid;
    align-items: center;
    margin-top: 10px;
    padding-left: 20px;
    height: 3.5em;
   border-radius: 10px;
    border: 3px solid #e74c3c; 
    background: rgba(231, 76, 60, 0.2);
    color: #ff3f34;
    font-weight: bolf;
    transform: scale(0.95)}
    div span:nth-child(6){
       background: rgba(102,255,102,0.2);
       border-color: rgba(102,255,102);
       color: lightgreen;
    }
    input:focus::placeholder{
       color: transparent;
    }